<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <%- include('./public/head.ejs',{title:'首页(index)',page:'index'}) %>
    <link rel="stylesheet" href="./less/reset.less">
</head>
<body>
    <a href="javavascript:;" onclick="alert('欢迎使用ejs-link-less-loader')">代码改变世界（Code changes the world）</a>
</body>
</html>